[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/viktorhugo/client-gateway.git
[submodule "orders"]
	path = orders
	url = https://github.com/viktorhugo/orders.git
[submodule "products"]
	path = products
	url = https://github.com/viktorhugo/products.git
