[submodule "orders"]
	path = orders
	url = https://github.com/viktorhugo/orders.git
[submodule "products"]
	path = products
	url = https://github.com/viktorhugo/products.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/viktorhugo/client-gateway.git
[submodule "payments"]
	path = payments
	url = https://github.com/viktorhugo/payments.git
[submodule "auth"]
	path = auth
	url = https://github.com/viktorhugo/auth
